# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
.venv/
.conda/
env/
venv/
.vscode/
debug/



# Ignore other unnecessary files
.git/
.gitignore
.DS_Store
node_modules/
char_recognizer_model_ffnn.keras
char_recognizer_emnist_cnn.h5
char_recognizer_emnist_cnn.keras
char_recognizer_model_ffnn.tflite